# Ambientes virtuais e cache
__pycache__/
*.py[cod]
*$py.class
/env/
/venv/
.env

# Diretórios de dados e saída
/downloads/
/json/
/output/
/data/
/models/
/performance/
/assets/
/dist/

# Arquivos de dados e logs
*.json
*.csv
*.log
*.pkl

# Binários e dependências externas
ffmpeg
