
fastapi
gunicorn
uvicorn
starlette
Authlib
python-jose
SQLAlchemy
alembic
psycopg2-binary
httpx
requests
urllib3<2.0,>=1.26.0
pydantic[email]
pydantic-settings
pydantic_core
annotated-types
openai-whisper
torch
numpy
huggingface-hub
google-auth
google-genai
python-dotenv
python-dateutil
click
websockets
picows
certifi
itsdangerous
yt-dlp
openai